{% extends "base/base_banner.html" %}
{% load staticfiles %}
{% block 'content'%}
<h2>Disk Details</h2>
<table class="table">
<tr><th>Server</th><td><a href="{% url 'server_disks' disk.server.id %}">{{disk.server.name}}</a></td></tr>
<tr><th>Device</th><td>{{disk.unix_device}}</td></tr>
<tr><th>Serial</th><td>{{disk.serial}}</td></tr>
<tr><th>Model</th><td><a href="{% url 'model_disks' %}?model={{disk.model}}">{{disk.model}}</a></td></tr>
<tr><th>Family</th><td>{{disk.family}}</td></tr>
<tr><th>Capacity</th><td>{{disk.gigabytes}}GB</td></tr>
<tr><th>RPM</th><td>{{disk.rpm}} RPM</td></tr>
<tr><th>Firmware</th><td><a href="{% url 'model_disks' %}?model={{disk.model}}&firmware={{disk.firmware}}">{{disk.firmware}}</td></tr>
</table>
<h2>Charts</h2>
<div ng-controller="ChartsCtrl" ng-init="init('{{disk.id}}')">
<select ng-model="attribute" ng-options="a.name group by a.type for a in attributes"></select><button ng-click="chart()" class="btn">Chart</button>
<!--<div id="chart" style="height: 500px; min-width: 500px; display:none"></div>-->
<div>
<div ng-repeat="attr in attrs" class="chart-container"><button class="chart-control" ng-click="remove(attr)">remove</button><div id="{[attr.clean_name]}_chart" style="height: 300px; width: 500px; float: left;padding:0px;margin:0px;  display:inline-block;">{[attr.name]}</div></div>
</div>
</div>
<h2 style="clear:both;">Smart Reports</h2>
<table class="table">
<tr><th>Run</th><th></th></tr>
{% for sr in disk.smart_reports.all %}
<tr>
<td><a href="#">{{sr.created}}</a></td>
<td><a href="{% url 'smart_report_body' sr.id %}">Full Report</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
{% block 'scripts' %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/highcharts-more.js"></script>
<script src="{% static "scripts/disk_details.js" %}"></script>

{% endblock %}