{% extends "base/base_banner.html" %}
{% block 'content'%}
        <h1>Disk MÆstØr</h1>
    
	    <div ng-controller="Ctrl">
		    <form method="post" action="{% url 'post_smart_report'%}">
		    	{% csrf_token %}
		    	Server: <input name="server"/><br>
		    	Body: <textarea name="body"></textarea><br>
		    	<input type="submit"/>
		    </form>
		</div>
      
{% endblock %}
     
	{% block 'scripts' %}
       <script>
    var Ctrl = function ($scope) {

    	  $scope.singleModel = 1;

    	  $scope.radioModel = 'Middle';

    	  $scope.checkModel = {
    	    left: false,
    	    middle: true,
    	    right: false
    	  };
    	};
   	
   	</script>
   	{% endblock %}